<div class="root-component">
  <div class="m-4 position-relative">
    <input class="form-control" id="search-bar" [(ngModel)]="searchText" (ngModelChange)="searchBar()"
      placeholder="Search Medicines" />
    <button class="btn btn-primary" (click)="sortMedicines(sorted)">Sort<i *ngIf="clickedSorted" class="bx text-white"
        [class]="{'bx-arrow-to-top':sorted,'bx-arrow-to-bottom':!sorted}"></i></button>
    <i class="bx bx-search position-absolute top-0 end-0 h-100"></i>
  </div>
  <div class="row m-0 mt-2">
    <div *ngFor="let dbMedicine of medicines" class="mt-2 col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <app-medicine [medicine]="dbMedicine" (update)="updated()" [userHome]="true"></app-medicine>
    </div>
  </div>
</div>
