<nav [class]="{'close':isClose}" class="sidebar">
  <header>
    <div class="image-text">
      <div class="text logo-text">
        <span class="name">
          Manoj M
        </span>
      </div>
    </div>
    <i (click)="toggleNav()" class='bx bx-chevron-right toggle'></i>
  </header>

  <div class="menu-bar">
    <div class="menu">

      <li class="search-box">
        <i class='bx bx-search icon'></i>
        <input placeholder="Search..." type="text">
      </li>

      <ul class="menu-links">
        <li [routerLinkActiveOptions]="{ exact: true }" class="nav-link"
            routerLinkActive="route-active">
          <a routerLink="/user/home">
            <i class='bx bxs-home icon'></i>
            <span class="text nav-text">Home</span>
          </a>
        </li>

        <li [routerLinkActiveOptions]="{ exact: true }" class="nav-link"
            routerLinkActive="route-active">
          <a routerLink="/user/cart">
            <i class='bx bxs-cart icon'></i>
            <span class="text nav-text">Cart</span>
          </a>
        </li>

        <li [routerLinkActiveOptions]="{ exact: true }" class="nav-link"
            routerLinkActive="route-active">
          <a routerLink="/user/history">
            <i class='bx bx-history icon'></i>
            <span class="text nav-text">Purchase History</span>
          </a>
        </li>


        <li [routerLinkActiveOptions]="{ exact: true }" class="nav-link"
            routerLinkActive="route-active">
          <a routerLink="/user/profile">
            <i class='bx bx-user icon'></i>
            <span class="text nav-text">Profile</span>
          </a>
        </li>


      </ul>
    </div>

    <div class="bottom-content">
      <li class="">
        <a href="/logout">
          <i class='bx bx-log-out icon'></i>
          <span class="text nav-text">Logout</span>
        </a>
      </li>


    </div>
  </div>

</nav>
