<div class="card">
  <div class="card-header">
    <h3 class="card-title">Medicine name</h3>
    <small class="text-sm-start">Medicine seller</small>
  </div>
  <div class="card-body">
    <img alt="my-image" class="card-img-top" src="../../../../assets/images/login.svg" srcset="">
    <p>Lorem epsom ewafsdzcxn sdazxn esdukbn efsc ioine fiubef iuha sdfiub frisb we imsob dubf iubdf eihf eih ih oief
      oijf fnoinf oiewh oihf oewi</p>
    <div>
      <i class="bx bx-rupee icon">123</i>
    </div>
  </div>
  <div class="card-footer">
    <button class="card-link btn btn-outline-primary ">
      <i class="icon bx bx-pencil"></i>Modify
    </button>
    <button class="card-link btn btn-outline-danger">
      <i class="icon bx bx-minus"></i>Delete
    </button>
  </div>
</div>
