<div class="card">
  <div class="card-header">
    <h3 class="card-title">{{medicine.name}}</h3>
    <small class="text-sm-start">{{medicine.seller}}</small>
  </div>
  <div class="card-body">
    <img [src]="medicine.image.content" alt="my-image" class="card-img-top" srcset="">
    <div>
      <i>{{"123" | currency : "USD"}}</i>
    </div>
  </div>
  <div class="card-footer">
    <button class="card-link btn btn-outline-primary ">
      <i class="icon bx bx-pencil"></i>Modify
    </button>
    <button class="card-link btn btn-outline-danger">
      <i class="icon bx bx-minus"></i>Delete
    </button>
  </div>
</div>
