<div
  *ngIf="isError"
  class="alert alert-danger alert-dismissible fade show text-center d-absolute"
  role="alert"
>
  {{errMsg}}
</div>
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img alt="Phone image" class="img-fluid" src="assets/delivery.svg"/>
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <h2 class="p-2 text-center"><strong>Login as Admin</strong></h2>
        <form #f="ngForm">
          <label class="form-label" for="email">Email address</label>
          <div class="form-outline mb-4">
            <input
              class="form-control form-control-lg"
              email
              id="email"
              name="email"
              ngModel
              required
              type="email"
            />
          </div>
          <label class="form-label" for="password">Password</label>
          <div class="form-outline mb-4">
            <input
              class="form-control form-control-lg"
              id="password"
              name="password"
              ngModel
              required
              type="password"
            />
          </div>
          <div class="d-flex w-100 justify-content-evenly">
            <button
              (click)="onAdminLogin(f.value, f)"
              [disabled]="!f.valid"
              class="btn btn-warning w-100"
              type="button"
            >
              Sign in
            </button>
          </div>
          <p class="text-center h4 m-2">Or</p>
          <div class="d-flex w-100 justify-content-evenly">
            <a class="btn btn-outline-warning w-100" href="/"> Home </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
