<div class="root-component">
  <section>
    <div class="container py-5">

      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img draggable="false" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{user.name}}</h5>
              <p class="text-muted mb-1">{{user.email}}</p>
              <a class="text-primary mb-4" (click)="changePassword()">Update Password</a>
            </div>
          </div>

        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.name}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0" *ngIf="!user.phone"><a class="text-primary text-sm mb-0"
                      (click)="addPhone()">Add phone</a></p>
                  <p class="text-muted mb-0">{{user.phone}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address:</p>
                </div>
                <div class="col-sm-9" *ngIf="user.address">
                  <p class="text-muted mb-0">{{user.address.street}} <a class="text-primary text-sm mb-0"
                      (click)="updateAddress()" *ngIf="user.address">Update address</a></p>
                </div>
                <div class="col-sm-9" *ngIf="!user.address">
                  <a class="text-primary mb-0" (click)="updateAddress()" *ngIf="!user.address">Update address</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
